.navigation 
{
    list-style-type: none;
    display: inline;
    font-size: 30px;
    margin-left: 0px;
}
.navigation li
{
    display: inline;
    margin-right: 30px;
} 
li a{color: rgb(153, 102, 2555);}
li a:hover{color:blue}
a:visited{color:red}
.left{flex-grow: 1;max-width:30%}
.middle{flex-grow: 3;max-width:30%}
.right{ flex-grow: 1;max-width:30%}
h1{color: rgb(0, 100, 30);}